.main-container{
    height: 100vh
}
/* header */
.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .7s;
    color: #e0ac01;
    box-shadow: 6px 0px 4px -4px rgba(0,0,0,0.5);
  }
  
 .trigger:hover {
    color:red;
  }
  
  .logo {
    height: 65px;
    padding: 16px;
    color: #e0ac01;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
  }

  .header-logout-button{
    float: right;
    top: 25%;
    right: 1%;
    border: 2px solid #e9b301;
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.5);
  }

  .header-logout-button:hover{
    float: right;
    top: 25%;
    right: 1%;
    border: 2px solid #e9b301;
  }

  .header-logout-button:focus{
    float: right;
    top: 25%;
    right: 1%;
    border: 2px solid #e9b301;
  }

  .header-logout-button i{
    color:#e9b301;
  }

  /* Sider */
  .ant-layout-sider{
    opacity: 0.9;
    background: none;
    background:rgb(4, 90, 83);
    box-shadow: 6px 0px 8px -4px rgba(0,0,0,0.5);
} 

.main-side-menu{
    padding: 0px;
    margin: 0px;
    
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
    background-color:none; 
    background: white;
}
.main-side-menu .ant-menu-item{
    margin: 0px;
    height: 55px;
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.6);
}

.main-side-menu .ant-menu-item:hover{
    margin: 0px;
    height: 55px;
    box-shadow: 0px 0px 1px -1px rgba(0,0,0,0.8);
}

.main-side-menu .ant-menu-item::after{
    font-size: 18px;
    border-right: 3px solid red;
} 

.main-side-menu .ant-menu-item svg{
    padding: 0px;
}

.main-side-menu .ant-menu-item a{
    font-size: 18px;
    color: #e9b301;
}

.main-side-menu-icon-container{
    padding-right: 30px;
}

.ant-menu-inline-collapsed > .ant-menu-item{
  padding-left: 15px !important;
}

